.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@font-face {
  src :url('/font/HelveticaNeueCyr-Bold.otf');
  font-family: 'HelveticaNeue-bold';
}

@font-face {
  src :url('/font/HelveticaNeueCyr-Medium.otf');
  font-family: 'HelveticaNeue';
}

body {
  font-family: 'HelveticaNeue';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  width:960px;
  margin:0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/*First Screen START */

.app__cover {
  width:100%;
  display: flex;
  height: 768px;
  background-image: url('/img/bitmap.jpg');
  background-size: 100% 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 350px;
  box-sizing: border-box;
  padding-bottom: 160px;
}

.app__cover__headline {
  color:#fff;
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'HelveticaNeue-bold';
  font-weight: bold;
}

.app__cover__date {
  color:#fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  opacity: 0.81;
  font-family: 'HelveticaNeue';
}

.app__cover__addNewsButton {
  width: 190px;
  border:none;
  border-bottom: 1px solid #fff;
  font-family: 'HelveticaNeue';
  font-size: 11px;
  font-weight: 500;
  color: #ffffff;  
  background-color: transparent;
  text-align: left;
  outline: none;
  padding: 0;
  position: relative;
  height: 35px;
  cursor: pointer;
 
}

.app__cover__addNewsButton:after {
  content: ' ';
  width:8px;
  height: 8px;
  background-image: url('/img/icon-plus.svg');
  outline: none;
  background-repeat: no-repeat;
  position: absolute;
  top:14px;
  right:0;
  transition: all 1s;
}




/*First Screen END */


/*FOOTER START */

.footer {
  width: 100%;
  height: 250px;
  background-color: #000;
  display: flex;
  padding: 40px 0;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
}

.footer__firstLine__searchInput {
  width:440px;
  height: 40px;
  border:none;
  border-bottom: solid 1px #d8d8d8;
  background-color: transparent;
  outline: none;
  color:#fff;
  font-family: 'HelveticaNeue';
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex:1;
}

.footer__line {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.footer__line__nav {
  flex-direction: row;
  display: flex;
  flex:1;
  justify-content: space-between;
}

.footer__line__nav__listItem {
  list-style-type: none;
}

.footer__line__nav__listItem__link {
  color:#fff;
  font-family: 'HelveticaNeue';
  font-size: 11px;
  font-weight: 500;
}

.footer__line__nav__listItem__link:hover {
  text-decoration: none;
  color:#fff;
}

.footer__line__copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-family: 'HelveticaNeue';
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 0;

}

.footer__firstLine__icon {
  display: flex;
  flex:1;
  justify-content: flex-end;
  align-items: flex-end;
}


/*FOOTER END */


/*NEWS LIST START */



.bodyNews {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 40px 0;
}

.newsList__cardMd {
  flex:1;
  display: flex;
  height: 280px;
  max-width: 445px;
  position: relative;
  margin-top: 35px;        
  box-sizing: border-box;
  min-width: calc(50% - 18px);  
}

.newsList__cardLg {
  flex:5;
  display: flex;
  height: 280px;
  max-height: 280px; 
  position: relative;
}

.newsList__cardLg__bg {
  width: 100%;
}

.newsList__cardLg__wrapper {
  flex:5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 360px;
  justify-content: space-between;
  border-top:3px solid #000;
  margin-right: 20px;
  min-width: calc(60% - 20px);
  max-width: calc(60% - 20px);    
}

.newsList__cardLg__wrapper__date {
  font-size: 20px;
  font-weight: bold;
  color:#000;
  text-align: left;
  margin-top: 15px;
  font-family: 'HelveticaNeue-bold';
}

.newsList__cardMd__bg {
  width:100%;
}



.newsList__cardMd__wrapper {
  position: absolute;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
}

.newsList__cardMd__title {
  
  font-family: 'HelveticaNeue';
  font-size: 16px;
  font-weight: 500;
  color:#fff;
  
}

.newsList__cardMd__title:hover {
  text-decoration: none;
  color:#fff;
}

.newsList__cardMd__type {
  width: 77px;
  height: 24px;
  object-fit: contain;
  border-radius: 2px;
  
  font-family: 'HelveticaNeue';
  font-size: 11px;
  font-weight: 500;
  color:#fff;
  position: absolute;
  top:20px;
  left:20px;
  line-height: 24px;
}

.newsList__cardMd__type-sport {
  background-color: #ff5050;
}

.newsList__cardMd__type-business {
  background-color:#cecece;
}

.newsList__cardMd__type-politic {
   background-color: #f9621e;
}

.newsList__cardMd__type-science {
  background-color:#6ba3ff;
}

.newsList__cardMd__type-incident {
   background-color:#efe24c;
}

.newsList__cardMd__date {
  margin-bottom: 10px;
  color:#fff;
  font-family: 'HelveticaNeue';
  font-size: 11px;
  font-weight: 300;
}

.newsList__cardMd__link {
  position: absolute;
  top:20px;
  right:20px;
}



.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.navigation__listItem {
  list-style-type: none;
}

.navigation__listItem__link {
  color: #d8d8d8;
  font-family: 'HelveticaNeue';
  font-size: 11px;
  font-weight: 500;
}

.navigation__listItem__link:hover {
  color: #f9621e;
  text-decoration: none;
}

.navigation__listItem__link-active {
  color: #f9621e;
}

.mainNews {
  display: flex;
  flex-direction: column;
  height: auto;
  flex:3;
  border-top:solid 3px #000;
  min-height: 360px;
  
  justify-content: space-between;
  min-width: calc(40% - 35px);
  max-width: calc(40% - 35px);
}

.bodyNews__wrapperMainNews {
  display: flex;
  flex-flow: wrap row;
  width: 100%;
  justify-content: space-between;
}

.mainNews__heading {
  font-family: 'HelveticaNeue-bold';
  font-size: 20px;
  color:#000;
  text-align: left;
  margin-top: 15px;
  font-weight: bold;
}

.mainNews__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mainNews .mainNews__item:last-child {
  margin-bottom: 0;
}



.mainNews__item__info {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  align-items: center;
}

.mainNews__item__title {
  font-family: 'HelveticaNeue';
  font-size: 16px;
  font-weight: 500;
  color:#434343;
  text-align: left;
}

.mainNews__item__title:hover {
  text-decoration: none;
  color:#434343;
}

.mainNews__item__info__text {
  color: #d8d8d8;
  font-family: 'HelveticaNeue';
  font-size: 11px;
  margin:0;
  margin-left:3px;
}

.mainNews__item__info__text-date {
  margin-left: 25px;
}

.mainNews__item__line {
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
}


/*NEWS LIST END */



/*FORM ADD NEWS START */

@keyframes animationOnDisplay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity:  1;
  }
}

  

.formAddNews {
  width: 400px;
  height: 520px;
  border-radius: 2px;
  background-color: #ffffff;
  margin-left: calc(50vw - 200px);
  margin-top: calc(50vh - 260px);
  padding:  30px;
  position: relative;
  box-sizing: border-box;
  height: auto;
  min-height: 520px;
  animation: .5s ease-out 0s 1 animationOnDisplay;
}


.formAddNews__closeButton {
  width: 24px;
  height: 24px;
  position: absolute;
  top:16px;
  right:16px;
  background-color: transparent;
  background-image: url('/img/icon-close-button.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border:none;
  cursor: pointer;
  outline: none;
}

.blur-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: 100% 100%;
  background-image: url(/img/bitmap-blur.jpg);
  top:0;
  left:0;

}

.formAddNews__title {
  font-family: 'HelveticaNeue';
  font-size: 36px;
  color:#000;
  margin-top: 50px;
  margin-bottom: 50px;
}

.formAddNews__input {
  width: 100%;
  border-radius: 2px;
  border: solid 1px #d8d8d8;
  height: 50px;
  outline: none;
  margin-top:10px;
  margin-bottom: 10px;
  text-indent: 20px;
   font-family: 'HelveticaNeue';
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  line-height: 50px;
}

.formAddNews__input:focus {
  border:1px solid #000;
}

.formAddNews__select {
  background-image: url('/img/icon-chevron.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  cursor: pointer;
  height: auto;
  min-height: 50px;
  line-height: 50px;
   font-family: 'HelveticaNeue';
  font-size: 11px;
  font-weight: 500;
  text-align: left;
}

.formAddNews__select__item {
  background-color: #fff;
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-radius: 2px;
    border: solid 1px #d8d8d8;
     font-family: 'HelveticaNeue';
  font-size: 11px;
  font-weight: 500;
  text-align: left;
}

.formAddNews__select-active {
   background-image: url('/img/icon-chevron.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  cursor: pointer;
  height: auto;
  min-height: 50px;
  line-height: 50px;
  border:1px solid #000;
   font-family: 'HelveticaNeue';
  font-size: 11px;
  font-weight: 500;
  text-align: left;
}

.formAddNews__input-active {
  width: 100%;
  border-radius: 2px;
  height: 50px;
  outline: none;
  margin-top:10px;
  margin-bottom: 10px;
  text-indent: 20px;
  border:1px solid #000;
   font-family: 'HelveticaNeue';
  font-size: 11px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;

 
  padding-right: 10px;  
}

.formAddNews__inputFile {
  display: none;
}

.formAddNews__buttonSubmit {
  
}

.formAddNews__buttonSubmit-disabled {
  width:30%;
  border:none;
  background-color: transparent;
  color: #d8d8d8;
  cursor: default;
  margin-top: 15px;
}

.formAddNews__buttonSubmit-active {
  width:30%;
  border:none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  margin-top: 15px;
}

.formAddNews__removeFile {
  background-color: transparent;
  border:none;
  cursor: pointer;
  outline: none;
  float: right;
}

.bodyNews__pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bodyNews__pagination__text {
  font-family: 'HelveticaNeue';
  font-size: 16px;
  font-weight: 500;
  color:#000;
}

.bodyNews__pagination__wrapper {

}

.bodyNews__pagination__wrapper__pagButton {
  font-family: 'HelveticaNeue-bold';
  font-size: 16px;
  font-weight: bold;
  color:#000;
  background-color: transparent;
  border:none;
  cursor: pointer;
  margin-left: 36px;
  outline: none;
}

@media screen and (max-width: 970px) {
  .newsList__cardLg__wrapper, .mainNews, .newsList__cardMd  {
    min-width: 100%;
  }
}
